nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.buttons {
  position: relative;
  padding: 0.5rem 0;
  display: inline-block;
}

.buttons::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.4s ease-in-out;
  height: 2px;
  width: 100%;
  background-color: white;
}

.buttons.active::before,
.buttons:hover::before {
  transform: translateX(-50%) scale(1);
}
